*{box-sizing: border-box;}

body {
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  h1{
    text-align: center;
    flex-basis: 100%;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 800px;
    overflow: scroll;
    width: 90%;
    .grid {
      box-sizing: content-box;
      width: 800px;
      border: 1px solid black;
      display: flex;
      flex-wrap: wrap;
      div {
        height: 100px;
        width: 100px;
        border: 1px solid black;
        background-color: grey;
        background-size: cover;
      }
      .current-position {
        background-image: url('/images/right.svg');
        background-size: cover;
      }
    }
    .actions {
      width: 400px;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      form {
        .command {
          width: 80%;
          height: 50px;
          font-size: 14px;
          padding: 0;
        }
        .doing {
          background-color: #B9FADD;
        }
        .add-move {
          height: 50px;
          width: 50px;
          border: 0 2px;
        }
      }
      .execute {
        width: 320px;
        bottom: 0;
      }
    }
  }
}
